body {
    background-image: url(img/bg.jpeg);
    background-size: 100vw 100vh;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

h1 {
    font-size: 7vmin;
}

h2 {
    font-size: 5vmin;
}

h3 {
    font-size: 4vmin;
    margin: 1vmin;
}

h4 {
    font-size: 3vmin;
    margin: 1vmin;
}
h5 {
    font-size: 2vmin;
    margin: .5vmin;
}
h6 {
    font-size: 2vmin;
    margin: .5vmin;
}

p {
    font-size: 3vmin;
}

input {
    padding: .5em;
    border-radius: .2em;
    border: none;
    font-size: 2vmin;
    background-color: rgba(190, 204, 255, 0.5);
}

button {
    background-color: rgba(12, 37, 79, 0.9);
    color: white;
    border: none;
    border-radius: .2em;
    padding: .5em;
    font-size: 2vmin;
    text-align: center;
}
button:hover {
    background-color: rgba(12, 37, 79, 0.7);
    cursor: pointer;
}

#home-page {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#home-page > * {
    margin: .5em;
    text-align: center;
}

#game-container {
    height: 100%;
    display: flex;
    justify-content: space-around;
    
}

#game-container p {
    font-size: 3vmin;
}

#game-container a {
    padding: .5em;
    background-color: rgba(12, 37, 79, 0.1);
    border-radius: 1vmin;
}

#timer {
    display: flex;
    flex-direction: column;
}

#timer h4 {
    margin: 0;
}

#timer p {
    width: 12vmin;
    font-family: monospace;
    text-align: center;
    margin: 1vmin;
    padding: 1vmin;
    font-size: 10vmin;
    background-image: radial-gradient(circle, rgba(255, 255, 255, .5), rgba(0, 217, 255, 0.5)55%, rgba(0, 8, 255, 0.5));
    border-radius: 2vmin;
    border: .1vmin solid rgba(0, 43, 143, 0.8);
}

table {
    border-collapse: collapse;
    margin: 5vmin;
    font-size: 3vmin;
}

tr {
    border: 1px solid black;
}

th {
    border-right: 1px solid black;
    padding: 1vmin;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
}

td {
    border: 1px solid black;
    padding: 1vmin;
    text-align: center;
    background-color: rgba(149, 149, 255, 0.223);
}

tr:hover {
    background-color: rgba(149, 149, 255, 0.5);
}



.pop-up {
    position: absolute;
    top: 60%;
    left: 50%;
    border: 1vmin solid rgba(31, 155, 213, 0.9);
    background-color: rgba(44, 167, 224, 0.9);
    border-radius: 2vmin;
    padding: 2vmin;
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -50%);
    justify-content: space-around;
    align-items: center;
    min-width: 20vmin;
    min-height: 20vmin;
}
#result{
    background: url(img/resultBackground.png);
    background-size: 100vw 100vh;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
#timeout{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;    
    background-image: url(img/timeout.png);
    background-size: 100% 100%;
}
#guess-box-msg{
    color: sienna;
}


@media screen and (orientation:portrait) {
    #game-container {
        flex-direction: column;
        align-items: center;
        height: 50vh;
    }
}